# Python

**pycache**/
*.py[cod]
*.sqlite3
*.local.py

# Virtual Environment

venv/
env/
.env

# Django

*.log
db.sqlite3
media/
course_material/

# Environment variables

.env

# OS

.DS_Store
Thumbs.db
